 <title>AJUDI - Editar Processo</title>
{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}




 <h3>Editar Processo {{numeroProcesso}}</h3>



        <form action="/processo/editar" method="POST">
                <input type="hidden" name="id" value="{{processos._id}}">
            <div class="row mt-4">
                <div class="col">   
                    <label for="numeroProcesso">Número do processo:</label>
                    <input type="text" name="numeroProcesso" class="form-control " value="{{processos.numeroProcesso}}">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">   
                    <label for="comarca">Comarca:</label>
                    <input type="text" name="comarca" class="form-control" value="{{processos.comarca}}">
                </div>
                <div class="col">
                    <label for="vara">Vara:</label>
                    <input type="text" name="vara" class="form-control" value="{{processos.vara}}">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col"> 
                    <label for="dataPropositura">Data de propositura:</label>
                    <input type="date" name="dataPropositura" class="form-control" value="{{processos.dataPropositura}}">
                </div>
                <div class="col"> 
                    <label for="valorCausa">Valor da causa:</label>
                    <input type="text" name="valorCausa" class="form-control" value="{{processos.valorCausa}}">
                </div>
                <div class="col"> 
                    <label for="honorarios">Honorarios:</label>
                    <input type="text" name="honorarios" class="form-control" value="{{processos.honorarios}}">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col"> 
                   <label for="descricao">Descrição:</label>
                    <textarea name="descricao" class="form-control" >{{processos.descricao}}</textarea>   
                </div>
            </div>
            <!--<div class="row mt-4">
                <div class="col"> 
                    <label for="cliente">Cliente:</label>
                    <select name="cliente" class="form-control">
                        {{#each clientes}}
                            <option value="{{_id}}">{{nome}} {{sobrenome}}</option>
                        {{else}}
                            <option value="0">Nenhum cliente cadastrado</option>
                        {{/each}}
                    </select>
                </div>
            </div>-->
            <button class="btn btn-dark mt-3" type="submit">Salvar</button>
        </form>


