<style>
  .card{
    background-color:#1b2230;
    color: #fff;
    border: none;
  }
</style>
 <title>AJUDI - Processos</title>
<h2 style="color:#fff">Lista de processos cadastrados</h2>

<a href="/processo/add" class="botao-proximo">Cadastrar novo processo</a>

{{#each processos }}
<div class="card-group">

<div class="card border-light mt-4" >
  <div class="card-header" >Dados Processuais</div>
  <div class="card-body">
    <h5 class="card-title mt-4">{{numeroProcesso}}</h5>
    <p class="card-text">
        Número do processo : {{numeroProcesso}}<br>
        Comarca : {{comarca}}<br>
        Vara : {{vara}}<br>
        Data de propositura : {{dataPropositura}}<br>
        Valor da causa: {{valorCausa}}<br>
        Honorários: {{honorarios}}<br>
        Cliente: {{cliente.nome}} {{cliente.sobrenome}}<br>
    </p>
  </div>
</div>
<div class="card border-light mt-4" >
  <div class="card-header">Descrição</div>
  <div class="card-body">
    
    <p class="card-text">
        {{descricao}}
    </p>
  </div>
</div>
</div>
    <div class="botoes-edit-delete" style="display: flex;">
        <a href="/processo/editar/{{_id}}">
        <button class="botao-proximo" style="background-color:#1a212e; border:none">Editar</button>
        </a>
        <form action="/processo/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="botao-proximo" style="background-color:#1a212e; border:none">Apagar</button>
        </form>
    </div>
{{else}}
 <style >
        .ct-footer{
            position: absolute !important;
        }
    </style>
<h4 class="mt-4" style="color:#fff">Nenhum processo cadastrado</h4>
{{/each}}





