 <title>AJUDI - Editar Cliente</title>
{{#each erros}}
<div class="alert alert-danger">
    {{texto}}
</div>
{{else}}
{{/each}}

<style>
    label{
        color: #fff;
    }
    .botao-proximo{
    padding:30px 30px;
}

</style>

{{#if user}}

<h4 style="color: #fff; text-align:center">Editar Cliente: {{clientes.nome}} {{clientes.sobrenome}}</h4>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0">
  <div class="carousel-inner">
    <div class="carousel-item active">
      
            
                <form action="/cliente/editar" method="POST">
                <input type="hidden" name="id" value="{{clientes._id}}">
                    <h3 style="color: #fff;" class="mt-4">Dados Pessoais: </h3>
                    <div class="row mt-4">
                        <div class="col">   
                            <label for="nome">Nome: *</label>
                            <input type="text" class="form-control form-control-sm" required name="nome" value="{{clientes.nome}}">
                        </div>
                        <div class="col">
                            <label for="sobrenome">Sobrenome: *</label>
                            <input type="text" class="form-control form-control-sm" required name="sobrenome" value="{{clientes.sobrenome}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">   
                            <label for="email">Email: *</label>
                            <input type="email" class="form-control form-control-sm" required name="email" value="{{clientes.email}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">   
                            <label for="telefone">Telefone: *</label>
                            <input type="text" class="form-control form-control-sm"  name="telefone" required value="{{clientes.telefone}}" oninput="mascaraTelefone(this)">
                        </div>
                        <div class="col">
                            <label for="nomeMae">Nome da mãe: *</label>
                            <input type="text" class="form-control form-control-sm"  name="nomeMae" required value="{{clientes.nomeMae}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">   
                            <label for="dataNascimento">Data de nascimento: </label>
                            <input type="text" class="form-control form-control-sm "  name="dataNascimento" value="{{clientes.dataNascimento}}"  oninput="mascaraDataNascimento(this)" >
                        </div>
                        <div class="col">
                            <label for="estadoCivil">Estado civil: </label>
                            <select name="selectEstadoCivil"  class="form-control form-control-sm" value="{{clientes.selectEstadoCivil}}">
                                <option value="selected">Estado civil</option>
                                <option value="solteiro">Solteiro</option>
                                <option value="casado">Casado</option>
                                <option value="separado">Separado</option>
                                <option value="divorciado">Divorciado</option>
                                <option value="viuvo">Viúvo</option>
                                <option value="amasiado">Amasiado</option>
                            </select>
                        </div>
                    </div>
            

          <div class="botoes-prev-next mt-4" style="text-align: center;">
                <a  href="#carouselExampleControls" role="button" data-slide="next" class="botao-proximo">
                Próximo
                </a>
            </div>
        
    </div>

    <div class="carousel-item">
        
                <h4 class="mt-4">Dados de localização: </h4>
                <div class="row mt-4">
                    <div class="col">   
                        <label for="naturalidade">Naturalidade:</label>
                        <input type="text" class="form-control form-control-sm" name="naturalidade"value="{{clientes.naturalidade}}">
                    </div>
                    <div class="col">
                        <label for="nacionalidade">Nacionalidade: </label>
                        <input type="text" class="form-control form-control-sm" name="nacionalidade" value="{{clientes.nacionalidade}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">   
                        <label for="endereco">Endereço: *</label>
                        <input type="text" class="form-control form-control-sm" required name="endereco" placeholder="Ex: Av. Brasil, N 20" value="{{clientes.endereco}}">
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">   
                            <label for="cidade">Cidade: *</label>
                            <input type="text" class="form-control form-control-sm"  name="cidade" required value="{{clientes.cidade}}">
                        </div>
                        <div class="col">
                            <label for="selectEstado">Estado</label>
                            <select name="selectEstado" class="form-control form-control-sm" value="{{clientes.selectEstado}}">
                                <option selected>Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="cep">CEP: *</label>
                            <input type="text" class="form-control form-control-sm"  name="cep" required value="{{clientes.cep}}" oninput="mascaraCEP(this)"> 
                        </div>
                    </div> 
                   <div class="botoes-prev-next mt-4" style="text-align: center;">
                        <a  href="#carouselExampleControls" role="button" data-slide="prev" class="botao-proximo">
                        
                       Anterior
                        </a>
                        <a  href="#carouselExampleControls" role="button" data-slide="next" class="botao-proximo">
                        Próximo
                        </a>
                    </div>    
               
           
        </div>


    <div class="carousel-item">
        
            
                <h4 class="mt-4">Documentação: </h4>
                    <div class="row mt-4">
                        <div class="col">   
                            <label for="rg">RG: *</label>
                            <input type="text" class="form-control form-control-sm" required name="rg"  value="{{clientes.rg}}" oninput="mascaraRG(this)"> 
                        </div>
                    <div class="col">
                        <label for="cpf">CPF: *</label>
                        <input type="text" class="form-control form-control-sm" required name="cpf"  value="{{clientes.cpf}}" oninput="mascaraCPF(this)">
                    </div>
                </div>
                <div class="row">
                    <div class="col">   
                        <label for="cnh">CNH: *</label>
                        <input type="text" class="form-control form-control-sm" name="cnh" value="{{clientes.cnh}}" oninput="mascaraCNH(this)">
                    </div>
                <div class="col">   
                    <label for="ctps">CTPS: *</label>
                    <input type="text" class="form-control form-control-sm"  name="ctps" required value="{{clientes.ctps}}" oninput="mascaraCTPS(this)">
                </div>  
                </div>
                

              <div class="botoes-prev-next mt-4" style="text-align: center;">
                        <a  href="#carouselExampleControls" role="button" data-slide="prev" class="botao-proximo">
                        
                       Anterior
                        </a>
                        <a  href="#carouselExampleControls" role="button" data-slide="next" class="botao-proximo">
                        Próximo
                        </a>
                    </div>   
      
    </div>
    </div>
        <button type="submit" class="btn btn-dark mt-3">Salvar</button>
        </form>
        
    </div>

</div>
</div>

 {{else}}
 <style >
        .ct-footer{
            position: absolute !important;
        }
        html{
          background-color: #19202c;
        }
    </style>
<h4 class="mt-4" style="color:#fff">Você precisa estar logado para acessar!</h4>
{{/if}}              