

 <title>AJUDI - Agenda</title>


<!-- card que mostra os eventos-->
 {{#each eventos}}
     <div  class="draggable resizable card bg-light mb-3" >
       <div class="botoes-postit" style="background-color: #f0f1f2;">
            <form action="/agenda/deletar" method="POST" style="background-color: #f0f1f2;">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="close" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
            </form>  
            <a href="/agenda/editar/{{_id}}">
                <button  type="submit" class='fas fa-edit' style='color: #949495; border: none;'></button>
            </a>
       </div>           
        <div class="card-header">{{nomeEvento}}</div>   
        <div class="card-body">
            Data: {{dataInicio}}<br>
            Hora: {{horaEvento}}
        </div>   
    </div> 
 {{/each}}


<!-- calendario -->
<body onload="renderDate()">
    <div class="calendario-todo">
        <div class="calendario">
          <form action="/agenda/gerar" method="POST" style="background-color: #dfe6e9;">
              <button type="submit" class="botao-relatorio">
                Gerar Relatório de Agendamentos
              </button>
            </form>
            <div class="mes">
                <div class="anterior" onclick="mudarMes('anterior')">
                    <span>&#10094;</span>
                </div>
                
                <div>
                    <h2 id="mes"></h2>
                    <p id="date_str"></p>
                </div>
                <div class="proximo" onclick="mudarMes('proximo')">
                    <span>&#10095;</span>
                </div>
            </div>
            <div class="dias-semana">
                <div>Domingo</div>
                <div>Segunda</div>
                <div>Terça</div>
                <div>Quarta</div>
                <div>Quinta</div>
                <div>Sexta</div>
                <div>Sábado</div>
            </div>
            <div class="dias" onclick="formAddEvento()">
            </div>
        </div>
    </div>
<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
            Adicionar Evento
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/agenda/novo-evento" method="POST">
            <div class="form-group row">
                    <div class="col-sm-10">
                        <label for="nomeEvento" class=" col-form-label col-form-label-sm">Nome do Evento:</label>
                        <input type="text" class="form-control form-control-sm" id="nomeEvento" name="nomeEvento">
                    </div>
                    <div class="col-sm-10 mt-3">
                        <label for="dataInicio" class=" col-form-label col-form-label-sm">Data:</label>
                        <input type="text" class="form-control form-control-sm datepicker" id="dataInicio " name="dataInicio" value="00/00/0000" >
                    </div>
                    <div class="col-sm-10 mt-3">
                        <label for="horaEvento" class=" col-form-label col-form-label-sm">Hora:</label>
                        <input type="time" class="form-control form-control-sm timepicker" id="timepicker" name="horaEvento" id="datepicker">
                    </div> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark mt-3">Salvar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>




<!-- modal edit evento-->
<div id="modalEditEvento" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
            Editar Evento
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/agenda/editar" method="POST"> 
         <input type="hidden" name="id" value="{{eventos._id}}">
            <div class="form-group row">
                    <div class="col-sm-10">
                        <label for="nomeEvento" class=" col-form-label col-form-label-sm">Nome do Evento:</label>
                        <input type="text" class="form-control form-control-sm" id="nomeEvento" name="nomeEvento" value="{{eventos.nomeEvento}}">
                    </div>
                    <div class="col-sm-10 mt-3">
                        <label for="dataInicio" class=" col-form-label col-form-label-sm">Data:</label>
                        <input type="text" class="form-control form-control-sm datepicker" id="dataInicio " name="dataInicio" value="{{eventos.dataInicio}}" >
                    </div>
                    <div class="col-sm-10 mt-3">
                        <label for="horaEvento" class=" col-form-label col-form-label-sm">Hora:</label>
                        <input type="time" class="form-control form-control-sm timepicker" id="timepicker" name="horaEvento" id="datepicker" value="{{eventos.horaEvento}}">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark mt-3">Editar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>



